nav{
    display: flex;
    justify-content: flex-end;
}
ul{
    display: flex;
    justify-content: flex-end;
}
  ul li{
    padding: 8px;
    margin-right: 23px;
   list-style: none;
   font-size: 20px;
   color: white;
  }
  ul li:hover{
    color: gray;
  }